.capabilities {
    background-image: linear-gradient(to right, #0f9447 20%, #8ec942);
    color: #fff;
    padding: 40px 0;
}

.capabilities__box {}

.capabilities__title {
    font-weight: 600;
    margin-bottom: 30px;
}

.capabilities__dscr {
        font-size: 19px;
}