.ourWork {
    padding: 100px 0;
    background-color: #f2f3f9;
}

.ourWork__title {
    @include title;
}

.ourWork__box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.ourWork__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}